{% extends 'base.html.twig' %}

{% block title %}MScode - Cadastrar Usuario{% endblock %}

{% block body %}
    <main>
        <div class="container py-5">
            <div class="mb-4">
                <h1>Novo usuário</h1>
            </div>

            <div class="w-50 mt-2">
                {% include "mensagens.html.twig" %}
     
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.nome) }}
                        {{ form_widget(registrationForm.nome) }}
                        <div class="text-danger">
                            {{ form_errors(registrationForm.nome) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        <div class="text-danger">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.first) }}
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        <div class="text-danger">
                            {{ form_errors(registrationForm.plainPassword.first) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.second) }}
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        <div class="text-danger">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Criar Conta</button>
                
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}

{% endblock %}