{% extends 'base.html.twig' %}

{% block title %}MScode - Editar Produto{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="mb-4">
            <h1>Editar categoria</h1>
        </div>

        <div class="w-50 mt-2">
            {% include "mensagens.html.twig" %}
            <form action="{{ path('editar_produto_salvar', {produto: produto.id}) }}" method="POST">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input  type="text" 
                            class="form-control" 
                            id="nome" 
                            name="nome"
                            minlength="3" 
                            value="{{ produto.nome }}"
                            required>
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao" style="resize:none;" rows="5">
                        {{ produto.descricao }}
                    </textarea>
                </div>

                <div class="row">

                    <div class="mb-3 col-4">
                        <label for="categoria_id" class="form-label">Categorias:</label>
                        <select class="form-select" aria-label="Categoria" name="categoriaId">
                            <option selected disabled> - - - Selecione - - -</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">
                                    {{ categoria.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 col-4">
                        <label for="quantidade" class="form-label">Quantidade:</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ produto.quantidadeDisponivel }}">
                    </div>

                    <div class="mb-3 col-4">
                        <label for="valor" class="form-label">Valor:</label>
                        <input type="text" class="form-control" id="valor" name="valor" value="{{ produto.valor }}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="url" class="form-label">URL:</label>
                    <input type="text" class="form-control" id="url" name="url" value="{{ produto.url }}">
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
                
            </form>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}